<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.training.goldmarket">

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Intro"
        android:name="com.training.goldmarket.BaseApplication"
        >

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/btn_login" />

        <activity
            android:name="com.training.goldmarket.presentation.MainActivity"
            android:theme="@style/Platform.MaterialComponents.Light"
          >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>